<div id="opestado<%= estado.id %>" style="display: none" class="allModal" >
    <div class="textModal">
    <span>
        Nome:
        <%= estado.nome %>
        </span>
        <span>
        Sigla:
        <%= estado.sigla %>
        </span>
    </div>
    <% if current_user.role == 'admin' %>
        <div class=operaModal>
            <span>
                <%= link_to "Edit this estado", edit_estado_path(estado) %>
            </span>
            <span>
                <%= button_to "Destroy this estado", estado, method: :delete %>
            </span>
        </div>
    <% end %>
</div>