<tr id="estado<%= matricula.id %>" data-controller="fade" data-action="click->fade#fade_in">
  <td>
    <%= matricula.id %>
  </td>
  <td>
    <%= matricula.ano %>
  </td>
  <td>
    <%= matricula.complemento %>
  </td>
    <td>
    <%= matricula.aluno.nome %>
  </td>
</tr>