<tr id="estado<%= aluno.id %>" data-controller="fade" data-action="click->fade#fade_in">
  <td>
    <%= aluno.id %>
  </td>
  <td>
    <%= aluno.nome %>
  </td>
  <td>
    <%= aluno.sobrenome %>
  </td>
  <td>
    <%= aluno.estado.nome %>
  </td>
</tr>